textarea.profile-desc {
    min-height: 250px;
}

.custom-control-label:after, .custom-control-label:before {
    width: 18px;
    height: 18px;
}

#service-photo {
    max-width: 100%;
    max-height: 300px;
    width: 500px;
    object-fit: cover;
}

.service-form-step-container {
    min-height: 450px;
    display: none;
}

.main-step-navigation-container .btn {
    min-width: 150px;
}